<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">
	<test name="Pixel5">
		<parameter name="platformName" value="Android" />
		<parameter name="udid" value="DQE6O78HZP9HPF5H" />
		<parameter name="deviceName" value="POCO C65" />
		<parameter name="systemPort" value="10000" />
		<parameter name="chromeDriverPort" value="11000" />
		<classes>
			<class name="com.appreciatewealth.runners.PocoTestNGRunnerTest"/>
		</classes>
	</test>
</suite> <!-- Suite -->